<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>EastCity小站-后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/stylesheets/app.v2.css" type="text/css" />
</head>
<body>
<section class="vbox">
  <header class="bg-dark dk header navbar navbar-fixed-top-xs">
    <div class="navbar-header aside-md" style="width:auto;">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen"
        data-target="#nav"> <i class="fa fa-bars"></i>
      </a> <a href="#" class="navbar-brand" data-toggle="fullscreen"><img
        src="/images/touxiang1.jpg" class="m-r-sm">Eastcity小站-后台管理系统</a> <a
        class="btn btn-link visible-xs" data-toggle="dropdown"
        data-target=".nav-user"> <i class="fa fa-cog"></i>
      </a>
    </div>
    <div class="navbar-header aside-md" style="float: right"><a href="/loginout" class="navbar-brand" style="float: right;padding-right: 10px;">退出</a></div>
  </header>