<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EastCity小站</title>
<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/grid.css" />
<link rel="stylesheet" href="/stylesheets/module.css" />
<link rel="stylesheet" href="/stylesheets/unit.css" />
<link rel="stylesheet" href="/stylesheets/function.css" />
<link rel="stylesheet" href="/stylesheets/fontawesome.css"/>
<noscript>
<div style="color:#F00; text-align:center;">请安装（启用）JavaScript！</div>
</noscript>
</head>

<body>
<!--菜单侧栏-->
<aside id="id_aside" class="g-aside g-aside-close" style="background:url(/images/background.jpg) center no-repeat fixed">
	<div class="m-header">
    		<a href="#" id="id_openAside">
            	<img class="m-logo m-closeLogo" id="id_logo" src="/images/touxiang1.jpg" />
        		<h1 class="m-name f-fwb f-tac">EastCity</h1>
            </a>
    </div>
    <hr class="u-profile f-wid3"/>
    <div class="m-content m-content-close f-tac" id="id_openP">
    	<p>
    	欢迎来到EastCity的前端小站，我是来自北京城市学院的大三学生。目前正在努力学习JavaScript，期望是战斗在前端！
        </p>
    </div>
    <hr class="u-profile f-wid2"/>
    <!--模块列表-->
    <div class="m-nav f-tac">
    	<ul id="id_ul">
        	<li class="m-closeLi"><a href="/">Blog</a></li>
            <li class="m-closeLi"><a href="/about">About</a></li>
            <li class="m-closeLi"><a href="/mainpro">Projects</a></li>
        </ul>
    </div>
    <!--分享-->
    <div class="m-share f-tac">
    	<ul>
        	<li class="u-social">
            	<a href="https://github.com/13671377465" title="EastCity的github" target="_blank">
                	<i class="u-socialf fa fa-github"></i>
                    <span class="f-dn">Github</span>
                </a>
            </li>
            <li class="u-social">
            	<a href="https://wx.qq.com/EC13671377465" title="EastCity的微信" target="_blank">
                	<i class="u-socialf fa fa-wechat"></i>
                    <span class="f-dn">Wechat</span>
                </a>
            </li>
            <li class="u-social">
            	<a href="http://1278690126.home.qq.com" title="EastCity的QQ" target="_blank">
                	<i class="u-socialf fa fa-qq"></i>
                    <span class="f-dn">QQ</span>
                </a>
            </li>
        </ul>
    </div>
    <hr class="u-profile f-wid2" id="id_hr"/>
    <div class="f-tac" id="id_search">
        	<input type="search" id="id_filter" class="u-search" name="search" placeholder="搜索我的博客..." />
    </div>
</aside>